.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 100px;
    background-color: #F5F5F5;
}

.profile-card--image {
    width: 200px;
    background-color: #242424;
    border-radius: 50%;
    margin-bottom: 30px;
}

.profile-card--name {
    font-size: 2rem;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 10px;
}

.profile-card--tag, .profile-card--location {
    color: #A9A9A9;
    font-size: 1.2rem;
    font-weight: 500;
}

.profile-stats--list {
    display: flex;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #DCDCDC;
}

.profile-stats--item {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid #CCC;
    border-right: 2px solid #CCC;
    padding: 20px;
}

.profile-stats--item:last-child {
    border-right: none;
}

.profile-stats--title {
    font-size: 1.2rem;
    font-weight: 500;
}

.profile-stats--value {
    font-size: 1.2rem;
    font-weight: 700;
}